note.xuyinji.com.cn {
    reverse_proxy 127.0.0.1:8080
    encode gzip
    header {
        Content-Security-Policy "default-src 'self'; script-src 'unsafe-inline'; style-src 'unsafe-inline'; object-src 'none'; base-uri 'none'; frame-ancestors 'none'"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
    }
}
